<a href="/app/add">Add Application</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="appsList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Users Location</th>
        <th>Business Impact</th>
        <th>Tech. Details</th>
      </tr>
    </thead>
  </table>
</div>