<form method="POST" action="/criticality/add">
    <table class="table table-bordered table-striped">
    <tr><td>Level</td><td><input type="text" name="level" /></td></tr>
    <tr><td>Description</td><td><input type="text" name="description" /></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>