<a href="/criticality/add">Add criticality</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="criticalitiesList">
    <thead>
      <tr>
        <th>Level</th>
        <th>Description</th>
      </tr>
    </thead>
  </table>
</div>