<a href="/middleware/add">Add MiddleWare</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="middlewaresList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Requirements</th>
        <th>Non Std Config</th>
        <th>Data Path</th>
        <th>Knowned Issues</th>
      </tr>
    </thead>
  </table>
</div>