<form method="POST" action="/middleware/add">
    <table class="table table-bordered table-striped">
    <tr><td>Name</td><td><input type="text" name="mwName" /></td></tr>
    <tr><td>Server</td><td><select id="servers-list" name="server"></td></tr>
    <tr><td>Start Requirements</td><td><input type="text" name="startRequirements" /></td></tr>
    <tr><td>Non Std Configs</td><td><input type="text" name="nonStdConfig" /></td></tr>
    <tr><td>Data Path</td><td><input type="text" name="dataPath" /></td></tr>
    <tr><td>Knowed Issues</td><td><input type="text" name="knowedIssues" /></td></tr>
    <tr><td>Connections</td><td><input type="text" name="connections" /></td></tr>
    <tr><td>Certificate Responsible</td><td><select id="certificate-list" name="certificate" multiple="multiple"></select></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>