<a href="/mssql/add">Add MS Sql</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="mssqlssList">
    <thead>
      <tr>
        <th>Business Critical Hours</th>
        <th>DB Name</th>
        <th>Environment</th>
        <th>App Account</th>
        <th>DB Jobs</th>
        <th>Knowed Issues</th>
        <th>Frequent Requests</th>
        <th>Specificities</th>
      </tr>
    </thead>
  </table>
</div>