<form method="POST" action="/oracle/add">
    <table class="table table-bordered table-striped">
    <tr><td>Business Critical Hours</td><td><input type="text" name="bch" /></td></tr>
    <tr><td>DB Name</td><td><input type="text" name="dbName" /></td></tr>
    <tr><td>Server</td><td><select id="servers-list" name="server"></td></tr>
    <tr><td>Environment</td><td><input type="text" name="environment" /></td></tr>
    <tr><td>App Account</td><td><input type="text" name="appAccount" /></td></tr>
    <tr><td>Owner Account</td><td><input type="text" name="ownerAccount" /></td></tr>
    <tr><td>DB Jobs</td><td><input type="text" name="dbJobs" /></td></tr>
    <tr><td>Knowed Issues</td><td><input type="text" name="knowedIssues" /></td></tr>
    <tr><td>Frequent Requests</td><td><input type="text" name="frequenRequests" /></td></tr>
    <tr><td>Crontabs</td><td><input type="text" name="crontabs" /></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>