<a href="/oracle/add">Add Oracle</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="oraclesList">
    <thead>
      <tr>
        <th>Business Critical Hours</th>
        <th>DB Name</th>
        <th>Environment</th>
        <th>App Account</th>
        <th>Owner Account</th>
        <th>DB Jobs</th>
        <th>Crontabs</th>
        <th>Knowned Issues</th>
        <th>Frequent Requests</th>
      </tr>
    </thead>
  </table>
</div>