<form method="POST" action="/server/add">
    <table class="table table-bordered table-striped">
    <tr><td>Server Name</td><td><input type="text" name="serverName" /></td></tr>
    <tr><td>Server Description</td><td><input type="text" name="description" /></td></tr>
    <tr><td>Server Functionality</td><td><input type="text" name="functionality" /></td></tr>
    <tr><td>Environment (Prod, Test)</td><td><input type="text" name="environment" /></td></tr>
    <tr><td>vlanID</td><td><input type="text" name="vlanID" /></td></tr>
    <tr><td>IP address</td><td><input type="text" name="ipAddress" /></td></tr>
    <tr><td>Platform</td><td><input type="text" name="platform" /></td></tr>
    <tr><td>Startup Order</td><td><input type="text" name="startup" /></td></tr>
    <tr><td>Monitoring</td><td><input type="text" name="monitoring" /></td></tr>
    <tr><td>OS Services</td><td><input type="text" name="services" /></td></tr>
    <tr><td>OS Schedulled Jobs</td><td><input type="text" name="schedulledJobs" /></td></tr>
    <tr><td>OS Admin group/users</td><td><input type="text" name="adminGroup" /></td></tr>
    <tr><td>OS Special requirements</td><td><input type="text" name="usersRequirements" /></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>