<form method="POST" action="/server/add">
    <table class="table table-bordered table-striped">
    <tr><td>Server Name</td><td><input type="text" name="serverName" /></td></tr>
    <tr><td>Environment (Prod, Test)</td><td><input type="text" name="environment" /></td></tr>
    <tr><td>vlanID</td><td><input type="text" name="vlanID" /></td></tr>
    <tr><td>IP address</td><td><input type="text" name="ipAddress" /></td></tr>
    <tr><td>Platform</td><td><input type="text" name="platform" /></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>