<a href="/server/add">Add server</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="serversList">
    <thead>
      <tr>
        <th>Server Name</th>
        <th>Environment</th>
        <th>VLAN ID</th>
        <th>IP Address</th>
        <th>Platform</th>
      </tr>
    </thead>
  </table>
</div>

