<form method="POST" action="{{action}}">
    <table class="table table-bordered table-striped">
    <tr><td>Full Name</td><td><input type="text" name="fullName" value="{{user.fullName}}/></td></tr>
    <tr><td>Email</td><td><input type="email" name="email" value="{{user.email}}/></td></tr>
    <tr><td>Phone</td><td><input type="text" name="phone" value="{{user.phone}}/></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>