<form method="POST" action="/user/add">
    <table class="table table-bordered table-striped">
    <tr><td>Full Name</td><td><input type="text" name="fullName" /></td></tr>
    <tr><td>Email</td><td><input type="email" name="email" /></td></tr>
    <tr><td>Phone</td><td><input type="text" name="phone" /></td></tr>
    <tr><td></td><td><input type="submit" /></td></tr>
  </table>
</form>