<form method="POST" action="/user/add">
    Full Name: <input type="text" name="fullName" /><br>
    Email: <input type="email" name="email" /><br>
    Phone: <input type="text" name="phone" /><br>
    <input type="submit" />
</form>