<a href="/user/add">Add user</a>
<div class="container-fluid">
  <table class="table table-bordered table-striped" id="usersList">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>eMail</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
</div>